/* remove index sitemap */
div.toctree-wrapper.compound {
   display: none;
}

/* sidebar */

.left-sidebar {
    background-color: #4e4a4a;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
}

nav > div.left-navbar > ul {
   list-style-position: inside;
   text-indent: -10px;
   list-style-type: none;
   padding-left: 10px;
   margin-bottom: 0;
}

@media (min-width: 992px) {
    .sticky-top-custom {
        position: sticky !important;
        top: 0;
        z-index: 1020;
    }
}

li.toctree-l1.current {
   background-color: lightgray;
   margin-left: -35px;
   padding-left: 35px;
   padding-bottom: 10px;
}

li.toctree-l1 > a.current.reference.internal { 
    color: inherit;
    background-color: white;
    display: block;
    margin-left: -35px;
    padding-left: 35px;
    border-bottom: 1px solid gray;
    padding-right: 30px;
    padding-bottom: 3px;
}

li.toctree-l1.current > ul > li.toctree-l2 > a.reference.internal, li.toctree-l1.current > ul > li.toctree-l2 > ul > li.toctree-l3 > a.reference.internal {
    color: inherit;
    padding: 5px;
}

li.toctree-l1.current > ul {
    list-style: none;
    padding-left: 10px;
    font-size: small;
}

li.toctree-l1.current > ul > li.toctree-l2, li.toctree-l1.current > ul > li.toctree-l2 > ul > li.toctree-l3 {
    padding-top: 5px;
    padding-right: 5px;
}


li.toctree-l2 > ul {
    padding-left: 20px;
    list-style: none;
    font-size: smaller;
}

/*a.current.reference.internal {
    font-weight: bold;
}*/

li.toctree-l1 > a.reference.internal, li.toctree-l2 > a.reference.internal, li.toctree-l3 > a.reference.internal {
    color: white;
    padding-right: 30px;
}

/* end sidebar */

/* removing bootstrap styling from indented content */
blockquote {
   padding: unset;
   color: inherit;
   border-left: none;
}

/* removing default anchor link from headings and changing color to black */
.toc-backref {
   color: black;
   pointer-events: none;
}

div.admonition {
   border: 1px solid #0d1321;
   border-radius: .25rem;
   background-color: #f8f9fa;
}

p.admonition-title::after {
   content: ": ";
}

div.admonition.note {
    border: none;
    background: none;
    padding: 0px;
}

div.admonition.danger:before, div.admonition.warning:before, div.admonition.caution:before  {
    font-family: FontAwesome;
    content: "\f071";
}

div.admonition.attention:before {
    font-family: FontAwesome;
    content: "\f06a";
}

div.admonition.attention > p.first.admonition-title, div.admonition.danger > p.first.admonition-title, div.admonition.warning > p.first.admonition-title, div.admonition.caution > p.first.admonition-title {
    display: contents;
}

div.admonition.attention > p.last, div.admonition.danger > p.last, div.admonition.warning > p.last, div.admonition.caution > p.last, div.admonition.note > p.last {
   margin-top: auto;
   margin-bottom: auto;
}

div.admonition.note > p.first.admonition-title {
    margin-top: auto;
    margin-bottom: auto;
}

div.admonition.note {
   display: flex;
   min-height: 0px;
}

/* end admonitions for non-iso */

p.first {
    margin-bottom: 0;
}

/* tables */
table td, th{
   white-space: normal;
   font-size: small;
}

table.docutils td, table.docutils th {
   padding: 8px;
   border: 1px solid #aaa;
}

table.docutils thead {
   background-color: whitesmoke;
}

table {
      display: block;
      width: 100%;
      overflow-x: auto;
}

p > b, p > strong {
   font-weight: bold;
}

/* end tables */

/* adjusting default sphinx output to work with bootstrap */
div.body {
   display: contents;
}

/* image */

.figure {
   text-align: left;
}

div.figure > img {
   width: 40vw;
}

cite {
   background-color: red;
}

div.figure {
    margin: unset;
    padding: unset;
}

/* versioning alert */
/* adapted from https://github.com/Smile-SA/sphinx-versions/blob/133d522ee6c5674f065dba655e74ca38a5bd5a09/sphinxcontrib/versioning/_templates/banner.html */

.scv-banner {
   position: relative;
   padding: .75rem 1.25rem;
   margin-bottom: 1rem;
   border: 1px solid transparent;
   border-radius: .25rem;
   background: #f8d7da;
   font-size: 100%;
   }
   
.scv-banner > a {
   color: #721c24;
}

/* end versioning alert */

.card {
    background-color: whitesmoke !important;
}

/* amending versionchanged directive */
.versionchanged, .versionmodified, .versionadded {
    font-size: small;
    font-style: italic;
}

/* making table notes (compound / tables-notes directive) small text size */
div.table-notes.compound {
    font-size: small;
} 

/* making the seeaslo display consistent with table-notes */
div.admonition.seealso {
    border: none;
    border-radius: none;
    background: none;
    min-height: unset;
    padding: 0px;
    margin-bottom: 0px;
    font-size: small;
}

div.admonition.seealso > p.first.admonition-title {
    text-transform: initial;
    padding-bottom: 10px;
}

/* making table and image caption colour consistent with the rest of text, make text smaller and not italc */
caption, p.caption {
    color: inherit !important;
    font-size: small;
    font-style: inherit;
}

table caption span.caption-number, div.figure p.caption span.caption-number {
    font-style: inherit;
}

caption > span.caption-number::after, p.caption > span.caption-number::after {
    content: "- ";
}

div.figure p.caption {
    padding: initial;
}

p.compound-first {
    margin-bottom: .5rem;
}

.highlight {
    background: #dddddd7d;
    margin: 10px;
}

div.dropdown-menu.show {
    z-index: 9999;
}

.navbar {
    border-bottom: 5px solid #343a40;
}

.brand-div {
    background-color: white;
}
