.. raw:: html

    <div class="container ml-0">
        
        <div class="row d-flex justify-content-md-center align-items-top">
            <div class="card-columns h-100 w-100">
            
            <div class="card border rounded">
            <div class="card-body">
             <h5 class="card-title">Welcome<i class="fas fa-info-circle pl-2"></i></h5>
             <p class="card-text">This is a Docs-as-Code online document environment. See the top of the left hand sidebar for document details.</p>
           </div>
         </div>
            
           <div class="card border rounded">
           <div class="card-body">
            <h5 class="card-title">Navigating<i class="fas fa-compass pl-2"></i></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">The left sidebar shows the entire documents' contents.</li>
                <li class="list-group-item">The right sidebar shows a topics' contents.</li>
                <li class="list-group-item">Use the quick search function on the left sidebar to search the entire document.</li>
                <li class="list-group-item">Use the buttons at the bottom of each page to move forward and backward through the topics.</li>
            </ul>        
        </div>
        </div>
        
           <div class="card border rounded">
           <div class="card-body">
            <h5 class="card-title">Versions<i class="fas fa-code-branch pl-2"></i></h5>
            <p class="card-text">Use the selector at the top of left sidebar to select available document versions.</p>
          </div>
        </div>
        
            <div class="card border rounded">
            <div class="card-body">
             <h5 class="card-title">Other documents<i class="fas fa-file-alt pl-2"></i></h5>
             <p class="card-text">Navigate back to the documentation portal for a full list of availble documents.</p>
           </div>
         </div>
        
           <div class="card border rounded">
           <div class="card-body">
            <h5 class="card-title">Languages<i class="fas fa-language pl-2"></i></h5>
            <p class="card-text">Use the selector at the right of the top navigation bar to switch to available languages.</p>
          </div>
        </div>
        
        <div class="card border rounded">
        <div class="card-body">
         <h5 class="card-title">PDF<i class="fas fa-file-pdf pl-2"></i></h5>
         <p class="card-text">Open a PDF of the full document via the <i>Open PDF</i> button at the bottom of the left sidebar.</p>
       </div>
        </div>
     
         <div class="card border rounded">
         <div class="card-body">
          <h5 class="card-title">Help and feedback<i class="fas fa-question-circle pl-2"></i></h5>
          <p class="card-text">Get help or send us feedback using the links in the footer of each page.</p>
        </div>
        </div>
        
        <div class="card border rounded">
        <div class="card-body">
         <h5 class="card-title">Logging out<i class="fas fa-sign-out-alt pl-2"></i></h5>
         <p class="card-text">Log out via the button at the bottom of the left sidebar.</p>
       </div>
       </div>
       
       <div class="card border rounded">
       <div class="card-body">
        <h5 class="card-title">Getting started<i class="fas fa-arrow-circle-right pl-2"></i></h5>
        <p class="card-text">Use the button below to go to the first topic.</p>
      </div>
      </div>
            
            </div>
            </div>
        </div>